/* ======================
  TYPOGRAPHY
 ====================== */

body {
  font-family: "Lato", sans-serif;
}

/* ======================
  DEBUG
 ====================== */

.debug footer {
  height: 300px;
  background-color: blue;
}

/* ======================
  COMMON
 ====================== */

.img-bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ======================
  LAYOUT
 ====================== */

.hero__container {
  padding-top: 300px;
}

.console {
  padding-top: 100px;
}

/* ======================
  COMPONENTS
 ====================== */

.producer-banner {
  height: 40px;
  background-color: #000;
}

.producer-banner__link {
  width: 100px;
}

.nav-link__down-arrow {
  margin-left: 2px;
  width: 10px;
}

.hero__logo-img {
  width: 300px;
}

.hero__title {
  font-size: 42px;
}

.hero__motto {
  font-size: 18px;
}

.hero__item-img--selected {
  outline: 2px solid #005ac6;
  outline-offset: 3px;
}

.hero__item-img {
  border-radius: 20px;
  cursor: pointer;
}

.hero__item-img:hover {
  outline: 2px solid #005ac6;
  outline-offset: 3px;
}

.console__title {
  font-size: 42px;
}

.console__text {
  font-size: 20px;
}

.console__item {
  position: relative;
  filter: opacity(0.65);
  cursor: pointer;
}

.console__item--selected {
  filter: opacity(1);
}

.console__item:hover::after,
.console__item--selected::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 12px);
  height: 2px;
  background-color: #005ac6;
}

.console__item-img {
  width: 100px;
}

/* ======================
  BUTTONS
 ====================== */

.btn-login {
  font-size: 18px;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 30px;
}

.btn-search__img {
  width: 30px;
}

.btn-buy {
  color: #fff;
  background-color: #cd3d0f;
}

/* ======================
  UNIQUE
 ====================== */

#hero-bg {
  background-image: url("../img/jumbo-bg.png");
}
