/* ======================
  TYPOGRAPHY
 ====================== */

body {
  font-family: "Lato", sans-serif;
}

/* ======================
  GLOBAL
 ====================== */

sup {
  line-height: 0;
  font-size: 20px;
}

footer {
  background-color: #00439c;
}

/* ======================
  BOOTSTRAP
 ====================== */

.dropdown-toggle::after {
  width: 12px;
  height: 12px;
  vertical-align: middle;
  background-image: url(../img/chevron-down-solid.svg);
  background-repeat: no-repeat;
  border: none;
  transition: background-image 0.4s;
}

.dropdown-toggle:hover::after {
  background-image: url(../img/chevron-down-solid-hover.svg);
}

.navbar-nav .nav-item .nav-link {
  color: #000;
}

.navbar-nav .nav-item:hover .nav-link {
  color: #005ac6;
}

/* ======================
  COMMON
 ====================== */

.img-bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ======================
  LAYOUT
 ====================== */

.wrapper-small {
  padding-top: 30px;
}

.wrapper-large {
  padding-top: 300px;
}

.console {
  padding-top: 100px;
}

.ps-plus {
  background-color: #bebcbb;
}

.ps-now {
  background-color: #00439c;
}

/* ======================
  COMPONENTS
 ====================== */

.producer-banner {
  height: 40px;
  background-color: #000;
  position: relative;
  z-index: 9999;
}

.producer-banner__link {
  width: 100px;
}

.game__logo-img {
  width: 300px;
}

.game__title {
  font-size: 42px;
}

.game__motto {
  font-size: 18px;
}

.game-item {
  transition: transform 0.4s;
}

.game-item:hover {
  transform: translateY(-5px);
}

.game-item-img--selected {
  outline: 2px solid #005ac6;
  outline-offset: 3px;
}

.game-item-img {
  border-radius: 20px;
  cursor: pointer;
  transition: box-shadow 0.4s;
}

.game-item-img:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  outline: 2px solid #005ac6;
  outline-offset: 3px;
}

.console__title {
  font-size: 42px;
}

.console__text {
  font-size: 18px;
}

.console__item {
  position: relative;
  filter: opacity(0.65);
  cursor: pointer;
}

.console__item--selected {
  filter: opacity(1);
}

.console__item:hover::after,
.console__item--selected::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 12px);
  height: 2px;
  background-color: #005ac6;
}

.console__item-img {
  width: 100px;
}

.product__title {
  font-size: 38px;
  font-weight: bold;
}

.product__text {
  font-size: 22px;
}

.banner__logo {
  width: 400px;
}

.banner__games {
  width: 600px;
}

.footer__logo {
  width: 150px;
}

.language-choose__img {
  width: 20px;
  margin-right: 10px;
}

/* ======================
  BUTTONS
 ====================== */

.btn-buy {
  color: #fff;
  background-color: #cd3d0f;
}

.btn-findout {
  font-size: 20px;
}

.btn-ps-plus {
  background-color: #d9dadc;
  color: #005ac6;
}

/* ======================
  UNIQUE
 ====================== */

#hero-bg {
  background-image: url("../img/jumbo-bg.png");
}

#new-game-bg {
  background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
}
