/* ======================
  TYPOGRAPHY
 ====================== */

body {
  font-family: "Lato", sans-serif;
}

/* ======================
  DEBUG
 ====================== */

.debug footer {
  height: 300px;
  background-color: blue;
}

/* ======================
  COMMON
 ====================== */

.img-bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ======================
  LAYOUT
 ====================== */

.hero__container {
  padding-top: 300px;
}

/* ======================
  COMPONENTS
 ====================== */

.producer-banner {
  height: 40px;
  background-color: #000;
}

.producer-banner__link {
  width: 150px;
}

.nav-link__down-arrow {
  margin-left: 2px;
  width: 10px;
}

.hero__logo-img {
  width: 300px;
}

.hero__title {
  font-size: 42px;
}

.hero__motto {
  font-size: 18px;
}

.hero__item-img--selected {
  outline: 2px solid #005ac6;
  outline-offset: 3px;
}

.hero__item-img {
  border-radius: 20px;
  cursor: pointer;
}

.hero__item-img:hover {
  outline: 2px solid #005ac6;
  outline-offset: 3px;
}

/* ======================
  BUTTONS
 ====================== */

.btn-login {
  font-size: 18px;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 30px;
}

.btn-search__img {
  width: 30px;
}

.btn-buy {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #cd3d0f;
  border-radius: 30px;
}

/* ======================
  UNIQUE
 ====================== */

#hero-bg {
  background-image: url("../img/jumbo-bg.png");
}
