/* ======================
  TYPOGRAPHY
 ====================== */

body {
  font-family: "Lato", sans-serif;
}

/* ======================
  DEBUG
 ====================== */

.debug header {
  background-color: purple;
}

.debug .producer-banner {
  background-color: coral;
}

.debug main {
  height: 100vh;
  background-color: green;
}

.debug footer {
  height: 300px;
  background-color: blue;
}

/* ======================
  COMPONENTS
 ====================== */

.producer-banner {
  height: 40px;
}

.producer-banner__link {
  width: 150px;
}

.nav-link__down-arrow {
  margin-left: 2px;
  width: 10px;
}

/* ======================
  BUTTONS
 ====================== */

.btn-login {
  font-size: 18px;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 30px;
}

.btn-search__img {
  width: 30px;
}
